body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(27, 27, 27);
    color: white;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card_item{
    border-radius: 15px;
    border: rgb(94, 188, 255) solid 2px;
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    min-height: 300px;
    max-width: 400px;
    background: rgb(24, 38, 49);
}
h1, h3{
    text-align: center;
}
